.link {
  color: #ffffff;
  font-size: 1.4em;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  transition: scale .25s linear, text-shadow .25s linear, opacity .25s linear .25s;
  cursor: pointer;


  &:hover {
    scale: 1.1;
    text-shadow: .1em .1em 1em rgb(197, 230, 13), .15em .15em 1.5em rgb(238, 255, 0);
  }

}