.main {
  background-color: silver;
  overflow: hidden;
  position: relative;
 height: 45em;
  z-index: 0;
}

.title {
  color: #ffffff;
  font-size: calc(2em + 20 * (100vw / 1440));
  font-weight: 900;
  letter-spacing: 0.1em;
  max-width: 20em;
  padding: 3em 4em;
}